git+https://github.com/vijilAI/vijil_objects
streamlit>=1.30.0
pandas>=2.0.0
together>=0.1.5
python-dotenv>=1.0.0
numpy>=1.25.0
pydantic>=2.0.0
tqdm>=4.65.0
dataclasses-json>=0.5.7
aiohttp>=3.8.5
asyncio>=3.4.3
jupyter>=1.0.0
ipykernel>=6.0.0
matplotlib>=3.7.0
plotly>=5.15.0
